@media(max-width:1250px) {
    .header {
        height: 96px;
    }

    .header__fixed {
        padding: 20px 10px 20px
    }

    .hero-inner-wrapper {
        padding: 100px 10px 33px 10px;
        background-size: auto;
    }

    .service {
        padding: 140px 10px 165px 10px;
    }

    .vegetable-inner-wrapper {
        padding: 89px 10px 143px 10px;
    }
    .customers {
        padding: 96px 10px 150px 10px;
    }

    .customer-title {
        font-size: 60px;
        line-height: 80px;
    }

    .app {
        padding:0 10px 140px 10px;
    }

    .footer {
        padding: 67px 10px 118px;
    }
}

@media(max-width:980px) {
    .hero-wrapper {
        flex-wrap: wrap;
        justify-content: center;
    }

    .hero-list {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }

    .hero-img {
        width: 100%;
        padding-left: 0px
    }

    .customer-wrapper {
        flex-direction: column;
        align-items: center;
    }

    .app-wrapper {
        flex-direction: column-reverse;
    }

    .footer-block {
        width: 48%;
    }
}


@media(max-width:850px) {
    .nav {
        position: absolute;
        z-index: 3;
        left: -20%;
        right: 100%;
        top: 95px;
        height: 100vh;
        background: var(--bg-white);
        overflow-x: hidden;
        border-top: 1px solid #9e9e9e;
        transition: 0.5s ease;
    }

    .nav.open {
        right: 0;
        left: 0;
    }

    .menu {
        flex-direction: column;
        padding: 30px;
        gap: 30px;
    }


    .menu__item:not(:last-child) {
        margin-right: 0px;
    }


    .burger {
        display: block;
        width: 60px;
        height: 40px;
        background: url(../images/burger.svg) no-repeat center;
        transition: 0.3s ease-in-out;
        transform: rotate(0deg);
    }

    .burger.active {
        background: url(../images/close.svg) no-repeat center;
        transform: rotate(180deg);
    }
}

@media(max-width:768px) {
    .header-link {
        display: none;
    }

    .cart {
        margin: 0 0px 0 20px;
    }

    .hero-text {
        width: 100%;
    }

    .service-content {
        width: 100%;
    }

    .customer-content {
        width: 100%;
        padding-bottom: 30px;
    }

    .inner-title {
        text-align: center;
    }

    .customer-text {
        width: 100%;
    }

    .app-contant {
        width: 100%;
    }

    .app-text {
        width: 100%;
    }

    .footer {
        padding: 67px 10px 70px;
    }

    .footer-titile {
        margin: 0 0 40px 0;
    }
}

@media(max-width:590px) {
    .hero-title {
        font-size: 70px;
    }

    .service-wrapper {
        gap: 50px;
    }

    .service-img {
        width: 100%;
        height: 100%;
        background-image: url(../images/elips-fruit.png);
        background-position: bottom 0px center;
        background-size: auto;
    }

    .customer-img {
        width: 100%;
    }
}

@media(max-width:450px) {
    .header-btn {
        display: none;
    }

    .hero-title {
        font-size: 60px;
    }

    .service-img {
        background-size: 100%;
    }

    .inner-title {
        font-size: 50px;
        line-height: 60px;
        text-align: center;
    }

    .service-item {
        padding: 40px 20px 40px 20px;
    }

    .icon-delivery,
    .icon-online,
    .icon-time {
        display: none;
    }

    .service-item::before{
        display: none;
    }
}