@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,500;0,700;1,400&family=Rosario:wght@700&display=swap');
/* font-family: 'DM Sans', sans-serif;
font-family: 'Rosario', sans-serif; */

:root {
    /* =================== font famaly =================== */
    --ff-dmSans: 'DM Sans', sans-serif;
    --ff-rosario: 'Rosario', sans-serif;

    /* =================== color =================== */
    --color-primary: #222222;
    --color-secondary: #555555;
    --color-dark: #333333;
    --color-black: #000000;
    --color-white: #ffffff;

    /* =================== background =================== */
    --bg-mint-cream: #F3FBF8;
    --bg-green-lt: #09A66D;
    --bg-white: #ffffff;
    --bg-black: #000000;
    --bg-footer: #FCFEFD;
    --bg-secondary-lt: #55555561;
    --bg-secondary: #555555;
}

/* =================== default style =================== */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    color: inherit;
    text-decoration: none;
}

ul {
    list-style: none;
}

img {
    max-width: 100%;
    display: block;
}

.btn {
    border: none;
    outline: none;
    background: transparent;
    cursor: pointer;
}

input {
    font-family: inherit;
    font-size: inherit;
    border: none;
    outline: none;

}

/* =================== main style =================== */
body {
    font-family: var(--ff-dmSans);
    font-weight: 400;
    font-size: 18px;
    line-height: 1;
    color: var(--color-primary);
}

.wrapper {
    max-width: 1440px;
    margin: 0 auto;
}

.inner-title {
    font-family: var(--ff-rosario);
    font-weight: 700;
    font-size: 70px;
    line-height: 90px;
}

.inner-text {
    font-size: 18px;
    line-height: 30px;
    color: var(--color-secondary);
}

.link-bg--green {
    background-color: var(--bg-green-lt);
    color: var(--color-white);
}

.header {
    height: 149px;
}

.header__fixed{
    position: fixed;
    z-index: 3;
    top: 0;
    left: 0;
    right: 0;
    padding: 50px 0 43px 0;
    background: var(--bg-white);
}

.container {
    max-width: 1240px;
    margin: 0 auto;
}

.burger{
    display: none;
}

.header-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu {
    display: flex;
}

.header-block {
    display: flex;
    align-items: center;
}

.menu__item:not(:last-child) {
    margin-right: 40px;
}

.menu__link {
    line-height: 24px;
}

.header-logo {
    display: block;
    width: 57px;
}

.form {
    display: flex;
    align-items: center;
}

.search {
    width: 0;
}

.header-btn {
    width: 40px;
    height: 40px;
    background-color: var(--bg-mint-cream);
    background-image: url(../images/search-icon.svg);
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.cart {
    display: block;
    position: relative;
    width: 40px;
    height: 40px;
    margin: 0 32px 0 20px;
    background-color: var(--bg-mint-cream);
    background-image: url(../images/cart.svg);
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.cart::after {
    content: "";
    width: 6px;
    height: 6px;
    position: absolute;
    top: 8px;
    right: 13px;
    background-color: var(--bg-green-lt);
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.header-link {
    width: 160px;
    padding: 10px 0;
    line-height: 20px;
    text-align: center;
    border-radius: 8px;
}

/* =================== end header =================== */

/* =================== section hero =================== */
.hero {
    background-color: var(--bg-mint-cream);
}

.hero-inner-wrapper {
    background-image: url(../images/fresh-melientha.png);
    background-repeat: no-repeat;
    background-position: left 0 top;
    padding: 100px 0 33px 0;
}

.hero-title {
    font-size: 80px;
    text-align: center;
}

.hero-text {
    width: 637px;
    margin: 20px auto 59px;
    text-align: center;
}

.hero-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hero-img {
    width: 862px;
    padding-left: 20px;
    position: relative;
}

.link {
    position: relative;
    display: flex;
    align-items: center;
    font-weight: 500;
    font-size: 18px;
    line-height: 30px;
    transition: 0.3s ease-in-out;
    -webkit-transition: 0.3s ease-in-out;
    -moz-transition: 0.3s ease-in-out;
    -ms-transition: 0.3s ease-in-out;
    -o-transition: 0.3s ease-in-out;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.link:hover {
    box-shadow: inset 0px 0px 10px 0px #0000006f;
    transition: 0.3s ease-in-out;
    -webkit-transition: 0.3s ease-in-out;
    -moz-transition: 0.3s ease-in-out;
    -ms-transition: 0.3s ease-in-out;
    -o-transition: 0.3s ease-in-out;
}

.link::after {
    content: "";
    position: absolute;
    top: 50%;
    right: 5px;
    width: 64px;
    height: 64px;
    background: var(--bg-green-lt) url(../images/arrow-right.svg) no-repeat center;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
}

.hero-link {
    position: absolute;
    width: 176px;
    height: 74px;
    padding: 10px 5px;
    top: -28px;
    right: 20%;
}

.hero-item {
    width: 250px;
    padding: 17px 33px 17px 113px;
    font-size: 48px;
    line-height: 48px;
    color: var(--color-black);
    text-align: center;
}


.hero-item span {
    display: block;
    font-size: 18px;
    line-height: 30px;
    text-align: center;
}

.hero-item:not(:last-child) {
    margin-bottom: 30px;
}

.hero-user {
    background: var(--bg-white) url(../images/user.svg) no-repeat left 33px center;
}

.hero-rew {
    background: var(--bg-white) url(../images/star.svg) no-repeat left 33px center;
}

.hero-items {
    background: var(--bg-white) url(../images/items.svg) no-repeat left 33px center;
}



/* =================== end section hero =================== */

/* =================== section Service =================== */
.service {
    padding: 140px 0 165px 0;
}

.service-wrapper {
    display: flex;
    align-items: flex-end;
    flex-wrap: wrap;
    justify-content: center;
}

.service-content {
    width: 671px;
    padding-bottom: 32px;
    position: relative;
}

.service-title {
    margin-bottom: 20px;
}

.service-text {
    margin-bottom: 16px;
}

.service-item {
    max-width: 500px;
    width: 100%;
    padding: 40px 59px 40px 163px;
    background-color: #fff;
    cursor: pointer;
    position: relative;
    margin-bottom: 20px;
    transition: 0.3s linear;
    -webkit-transition: 0.3s linear;
    -moz-transition: 0.3s linear;
    -ms-transition: 0.3s linear;
    -o-transition: 0.3s linear;
}

.service-item::before {
    content: "";
    position: absolute;
    z-index: 0;
    width: 80px;
    height: 80px;
    background: var(--bg-mint-cream);
    top: 50%;
    left: 59px;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    transition: 0.3s linear;
    -webkit-transition: 0.3s linear;
    -moz-transition: 0.3s linear;
    -ms-transition: 0.3s linear;
    -o-transition: 0.3s linear;
}

.service-item:hover {
    background-color: var(--bg-mint-cream);
}

.service-item:hover::before {
    background: var(--bg-white);
}

.icon-delivery {
    position: absolute;
    width: 40px;
    height: 40px;
    top: 50%;
    left: 79px;
    background-image: url(../images/delivery-man.svg);
    background-repeat: no-repeat;
    background-position: center;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
}

.icon-online {
    position: absolute;
    width: 40px;
    height: 40px;
    top: 50%;
    left: 79px;
    background-image: url(../images/shopping.svg);
    background-repeat: no-repeat;
    background-position: center;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
}

.icon-time {
    position: absolute;
    width: 40px;
    height: 40px;
    top: 50%;
    left: 79px;
    background-image: url(../images/fast-time.svg);
    background-repeat: no-repeat;
    background-position: center;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
}


.service-item-title {
    display: block;
    margin-bottom: 8px;
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
}

.service-item-text {
    font-size: 14px;
    line-height: 20px;
    color: var(--color-secondary);
}

.service-link {
    display: block;
    position: absolute;
    left: 35%;
    bottom: 0;
    width: 15px;
    height: 34px;
    background: url(../images/arrow-down.svg) no-repeat center;
    animation: move 2.5s linear infinite;
    -webkit-animation: move 2.5s linear infinite;
}

.service-img {
    width: 569px;
    height: 569px;
    padding-top: 30px;
    background-image: url(../images/elips-fruit.png), url(../images/ellipse-bg.png);
    background-repeat: no-repeat;
    background-position: bottom 76px center, right 0 center;
    background-size: 398px, contain;
    display: flex;
    justify-content: center;
}

.service-img figure {
    width: 354px;
    animation: moveImg 2s linear infinite;
    -webkit-animation: moveImg 2s linear infinite;
}


@keyframes move {
    0% {
        bottom: 0px;
    }

    50% {
        bottom: 10px;
    }

    100% {
        bottom: 0px;
    }
}

@keyframes moveImg {
    0% {
        transform: translateY(0);
        -webkit-transform: translateY(0);
        -moz-transform: translateY(0);
        -ms-transform: translateY(0);
        -o-transform: translateY(0);
    }

    50% {
        transform: translateY(20px);
        -webkit-transform: translateY(20px);
        -moz-transform: translateY(20px);
        -ms-transform: translateY(20px);
        -o-transform: translateY(20px);
    }

    100% {
        transform: translateY(0);
        -webkit-transform: translateY(0);
        -moz-transform: translateY(0);
        -ms-transform: translateY(0);
        -o-transform: translateY(0);
    }
}

/* =================== end section Service =================== */

/* =================== section vegetable =================== */
.vegetable {
    background: rgba(9, 166, 109, 0.05);
    padding: 89px 0 143px 0;
}

.vegetable-inner-wrapper {
    padding: 89px 0 143px 0;
    background-image: url(../images/fresh-melientha-suavis.png);
    background-repeat: no-repeat;
    background-position: right 50px bottom 0;
    background-size: auto;
}

.vegetable-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 50px;
}

.vegetable-img {
    width: 600px;
}

.vegetable-content {
    width: 575px;
    padding-top: 30px;

}

.vegetable-tetx {
    margin: 20px 0 50px 0;
}

.vegetable-link {
    width: 179px;
    height: 70px;
    padding: 10px 5px;
}


/* =================== end section vegetable =================== */

/* =================== section customers =================== */
.customers {
    padding: 96px 0 150px 0;
}

.customer-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    gap: 20px;
}

.customer-content {
    width: 640px;
    padding-bottom: 30px;
}

.customer-text {
    margin: 30px 0 40px;
    width: 586px;
}

.customer-name {
    display: block;
    font-weight: 500;
    font-size: 30px;
    line-height: 36px;
    margin-bottom: 20px;
}

.customer-img {
    width: 500px;
    border-radius: 50%;
    background: var(--bg-mint-cream);
    display: flex;
    justify-content: center;
    align-items: center;
    animation: moveImg 2s linear infinite;
    -webkit-animation: moveImg 2s linear infinite;
}

.customer-starts {
    display: flex;
    gap: 9px;
}

.slider-btn {
    width: 56px;
    height: 56px;
    border: 1px solid #CCCCCC;
    background: var(--bg-white);
    border-radius: 50%;
    position: absolute;
    z-index: 4;
    bottom: 15px;
}

.slider-prev {
    left: 25%;
}

.slider-prev::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 12px;
    height: 18px;
    background: url(../images/vector-arrow.svg);
    transform: translate(-50%, -50%);
}

.slider-prev.active {
    background: var(--bg-green-lt);
}

.slider-prev.active::before {
    content: "";
    background: url(../images/vector-arrow-active.svg);
}

.slider-next {
    left: 31%;
}

.slider-next.active {
    background: var(--bg-green-lt);
}

.slider-next::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 12px;
    height: 18px;
    background: url(../images/vector-right.svg);
    transform: translate(-50%, -50%);
}

.slider-next.active::before {
    content: "";
    background: url(../images/vector-right-active.svg);
}

.slick-dots {
    position: absolute;
    left: 50%;
    bottom: -50px;
    display: flex;
    gap: 15px;
    transform: translateX(-50%);
}

.slick-dots li{
    font-size: 0;
    line-height: 0;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: #ccc;
}

.slick-dots li.slick-active{
    background: #555;
}

.slick-dots button{
    font-size: 0;
    line-height: 0;
    border: none;
    outline: none;
    background: transparent;
}


/* =================== end section customers =================== */

/* ===================== section app ===================== */
.app {
    padding-bottom: 140px;
}

.app-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}

.app-img {
    width: 265px;
    animation: moveImg 2s linear infinite;
    -webkit-animation: moveImg 2s linear infinite;
}

.app-contant {
    width: 662px;
}

.app-subtitle {
    background: var(--bg-mint-cream);
    border-radius: 50px;
    width: 170px;
    display: block;
    padding: 11px 0;
    text-align: center;
    color: var(--color-dark);
    margin-bottom: 27px;
}

.app-text {
    width: 574px;
    margin: 20px 0 50px 0;
}

.app-block {
    width: 232px;
    display: flex;
    justify-content: center;
    gap: 24px;
}

.app-link {
    display: block;
    border: 1px solid #A6A6A6;
    border-radius: 5px;
    width: 104px;
    padding: 5px 0;
    color: var(--color-white);
    transition: 0.3s linear;
}

.app-link:hover {
    box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.35);
    transform: skew(10deg, 0deg);
}

.app-store {
    font-size: 12px;
    line-height: 12px;
    font-weight: 500;
    padding-left: 34px;
    background: var(--bg-black) url(../images/aple.svg) no-repeat left 12px center;
}

.app-store span {
    font-size: 7px;
    line-height: 7px;
    margin-bottom: 3px;
}

.google-play {
    font-size: 12px;
    line-height: 12px;
    font-weight: 500;
    padding-left: 33px;
    background: var(--bg-black) url(../images/google.svg) no-repeat left 7px center;
}

.google-play span {
    font-size: 7px;
    line-height: 7px;
    text-transform: uppercase;
    margin-bottom: 3px;
}

/* =================== end section app =================== */

/* =================== section footer =================== */


/* ================== end section footer ================= */
.footer {
    padding: 67px 0 118px;
    background: var(--bg-footer);
}

.footer-wrapper {
    display: flex;
    justify-content: space-between;
    gap: 30px;
    flex-wrap: wrap;
}

.footer-logo {
    display: block;
    width: 70px;
    height: 70px;
    margin-bottom: 30px;
}

.footer-text {
    width: 345px;
}

.footer-titile {
    display: block;
    margin: 40px 0;
    font-weight: 500;
    font-size: 24px;
    line-height: 31px;
}

.footer-item:not(:last-child){
    margin-bottom: 24px;
}

.footer-link,
.footer-email{
    line-height: 23px;
    color: var(--color-secondary);
}

.footer-social{
    display: flex;
    gap: 20px;
    margin-top: 25px;
}

.footer-social a{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    box-shadow: 6px 6px 10px -1px rgba(0,124,196,0.15),
              -6px -6px 10px -1px rgba(255,255,255,0.7);
    border: 1px solid rgba(0, 124, 196, 0);
    transition: transform 0.5s
}

.footer-social a img{
    transform: scale(1);
    transition: transform 0.5s
}

.footer-social a:hover{
    box-shadow:inset 4px 4px 6px -2px rgba(0,0,0,0.2);
    border: 1px solid rgba(0, 124, 196, 0.1);
}

.footer-social a:hover img{
    transform: scale(0.7);
    transition: transform 0.5s
}